

   <style>
        body {
          background-image: url('/images/background-5.png');
        }
      </style>




<section class="container">
  <div class ="name-box123">
  <h3 class="user-name center-align">{{name}}'s Posts</h3>
  </div>

  <section class="flex-row justify-center">
    {{#each posts as |post|}}
    {{> post-details}}
    {{/each}}
  </section>
</section>


<script src="/js/users.js"></script> 
